/* Core Styles*/
:root {
	--green: #2AB599;
	--blue: #5C99D1;
	--pink: #E1707C;
	--light-grey: #DFDFDF;
	--dark-grey: #444444;
}

@font-face {
	font-family: 'Avenir Next';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local('Avenir Next'), local('Avenir-Next'),
		url("../font/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'Avenir Next';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: local('Avenir Next Bold'), local('Avenir-Next-Bold'),
		url("../font/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--dark-grey);
}

* {
	font-family: "Avenir Next", Arial, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
}

.container > * {
	grid-column: 2;
}

/* Inputs */
input {
	border: solid #CCCCCC 1px;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
}

input:focus {
    outline: none;
}


/* Buttons */
button {
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid;
	width: fit-content;
	width: -moz-fit-content;
	transition: all 0.3s ease-out;
}

button:hover, button:focus {
	background-color: transparent;
	outline: none;
}

button.round {
	border-radius: 100%;
	width: 46px;
    text-align: center;
    padding: 10px 0;
}

.btn-green {
	background-color: var(--green);
	border-color: var(--green);
}

.btn-green:hover, .btn-green:focus {
	color: var(--green);
}

.btn-pink {
	background-color: var(--pink);
	border-color: var(--pink);
}

.btn-pink:hover, .btn-pink:focus {
	color: var(--pink);
}

.btn-blue {
	background-color: var(--blue);
	border-color: var(--blue);
}

.btn-blue:hover, .btn-blue:focus {
	color: var(--blue);
}



/* Sections */
/* Header */
.header {
	background-color: var(--light-grey);
	font-size: 48;
	padding: 20px 0;
	margin-bottom: 20px;
}


/* Add Task */
.task-options {
	padding: 20px 0;
}

@media (min-width: 576px) {
	.task-options div {
		display: flex;
		justify-content: space-between;
	}
}

.task-options input {
	width: 40vw;
	margin-right: 20px;
}

.task-options div > * {
	margin-bottom: 10px;
}


/* Task List */
.task-list {
	padding-bottom: 50px;
}

.task {
	background-color: #FFFFFF;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	margin: 10px;
	padding: 5px;
	height: 60px;
}


/* Icons */
.icon {
	height: 100%;
	width: 50px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.not-done {
	background-image: url("../imgs/not-done.png");
}

.not-done:hover {
	opacity: 0.2;
	background-image: url("../imgs/done.png");
}

.done {
	background-image: url("../imgs/done.png");
}

.trash {
	background-image: url("../imgs/trash.png");
}

/* Dragging */
.dragging {
	background-color: #DDDDDD;
}

.dragging > * {
	visibility: hidden;
}


/* Collapsible */
.collapsible {
  background-color: #EEEEEE;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 0px;
}

.collapsible:hover {
  background-color: #DDDDDD;
}

.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
